
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Cabin';
}

header{
    background-color: #151B2B;
    height: 90vh;
}

header .main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    gap: 10%;
}

header .logo{
    position: absolute;
    top: 40px;
}

header .main-parag{
    max-width: 487px;
    
}

h1{
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 46px;
    font-weight: 700;
    margin-right: 31px;
    letter-spacing: 2px;
}

.main-parag > p:nth-child(2){
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    line-height: 40px;
}

.main-parag > p:nth-child(3){
    color: #8686B2;
    font-family: 'HK Grotesk', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 55px;
}

header .top-right img{
    height: 687px;
    width: 567px;
}

.title-api{
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

.title-api p{
   
    display: flex;
    background-color: rgb(249, 248, 248);
    border: 0.5px solid rgb(165, 165, 165);
    padding: 5px 10px;
    
}


.title-api  span{
    
    background-color: #ffffff;
    border: 0.5px solid rgb(165, 165, 165);
    border-left: none;
    padding: 5.5px 10px;
}

.title-api img{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.title-api a{
    color: black;
    font-family: 'Cabin';
    letter-spacing: 1px;
    display: flex;
    margin-top: 10px;
    
}

.main ul{
    display: flex;
}
.main ul img{

    
    margin-right: 10px;
    height: 25px;
}
.main ul a:nth-child(1){
    background-color: #454658;
    border-radius: 5px;
    margin-right: 20px;
    
}
.main ul a:nth-child(2){
    background-color: #6578C0;
    border-radius: 5px;
}

.main ul li{
    color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
}


.first-sec{
    width: 100vw;
    background-color:#F9F9FD ;
    display: flex;
    justify-content: center;
}

.first-sec .bloc-sec-one{
    width: 904.58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.bloc-bottom{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.img-usage{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 3px;
    
}

.bloc-rust{
    position: relative;
    z-index: 2;
    height: 11111px;
    background-color: white;
}


.bloc-title-bottom{
    display: flex;
    align-items: center;    
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 50px;
}

.bloc-top{
    margin-bottom: 50px;
    height: 100%;
}

.bloc-top h2,
.bloc-top p{
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 32px;
}