
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Cabin';
}

header{
    background-color: #151B2B;
    height: 90vh;
    
}

.main-container{
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 1440px;
    height: 100%;
    
    gap: 10%;
}


.main-container 
.logo{
    position: absolute;
    top: 40px;
    
}

.main-container 
.text-container{
    max-width: 487px;
    
}
.main-container 
.title{
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

.main-container 
h1{
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 46px;
    font-weight: 700;
    margin-right: 5%;
    letter-spacing: 2px;
}

.main-container 
.title 
a{
    color: black;
    letter-spacing: 1px;
    display: flex;
    margin-top: 10px;
    
}

.main-container 
.title 
p:nth-child(1){
    display: flex;
    background-color: rgb(249, 248, 248);
    border: 0.5px solid rgb(165, 165, 165);
    padding: 5px 10px;
    
}

.main-container 
.title 
img{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.main-container 
.title  
span{
    
    background-color: #ffffff;
    border: 0.5px solid rgb(165, 165, 165);
    border-left: none;
    padding: 5.5px 10px;
}

.main-container 
.text-container 
p:nth-child(2){
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    line-height: 40px;
}

.main-container 
.text-container
p:nth-child(3){
    color: #8686B2;
    font-family: 'HK Grotesk', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 55px;
}


.main-container ul{
    display: flex;
}

.main-container ul a:nth-child(1){
    background-color: #454658;
    border-radius: 5px;
    margin-right: 20px;
    
}
.main-container ul a:nth-child(2){
    background-color: #6578C0;
    border-radius: 5px;
}

.main-container ul li{
    color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

.main-container ul img{
    margin-right: 10px;
    height: 25px;
}


.main-container picture{
    height: 687px;
    width: 567px;
}


#f-sec{
    
    background-color: #F9F9FD;
    padding-top: 60px;
}

#f-sec .section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 904.58px;
}

#f-sec p,
#f-sec p,
h2,
h3{
    text-align: center;
}

#f-sec .b-top h2{
    margin-bottom: 24px ;
    font-size: 32px;
}

#f-sec .b-top p{
    margin-bottom: 32px ;
    font-size: 16px;
}

#f-sec .b-top img{
    margin-bottom: 128px ;
}


#f-sec .b-bottom h3{
    margin-bottom: 24px ;
    font-size: 32px;
    position: relative;
    z-index: 2;
}

#f-sec .b-bottom p{
    margin-bottom: 105px ;
    font-size: 16px;
    position: relative;
    z-index: 2;
}


.b-bottom{
    position: relative;
}

.b-bottom .absolute{
    position: absolute;
    left: 7%;
    top: 0;
    
    z-index: 1;
}

.b-bottom div{
    position: relative;
    background-color: white;
    z-index: 2;
    padding: 24px;
}

